# Environment
myenv/
__pycache__/
.ipynb_checkpoints/
*.pyc


# CLAUDE.md files
**/CLAUDE.md

# IDE / OS
.vscode/
.idea/
.DS_Store
myenv/
predictions/
src/jointlearning/expert_bert_GCE_Softmax_Freeze
src/jointlearning/expert_bert_GCE_Softmax_Normal
src/jointlearning/expert_bert_GCE_weakSP
reviewer_extra_analysis/sequential_learning/models/bio/separate_bio.pt
reviewer_extra_analysis/sequential_learning/models/rel/separate_rel.pt
reviewer_extra_analysis/sequential_learning/models/cls/separate_cls.pt
# Ignore all model and models folders and their contents
models/
**/models/
**/models/*
**/model*
# Ignore all volumes folders (if any)
volumes/
**/volumes/
**/volumes/*
# Ignore specific model files found
src/jointlearning/expert_bert_softmax/hf_exper_bert_softmax/model.safetensors