# Environment
myenv/
__pycache__/
.ipynb_checkpoints/
*.pyc

# Model weights
*.pt
*.bin
*.safetensors
*.h5
*.pth

# CLAUDE.md files
**/CLAUDE.md

# IDE / OS
.vscode/
.idea/
.DS_Store
myenv/
predictions/
src/jointlearning/expert_bert_GCE_Softmax_Freeze
src/jointlearning/expert_bert_GCE_Softmax_Normal
src/jointlearning/expert_bert_GCE_weakSP
src/jointlearning/expert_bert_softmax